body{
    font-family: 'Signika', sans-serif;  
}

.bg-container{
background-color: rgb(231, 253, 231);

}
.titulos{
    font-family: 'Raleway', sans-serif
}

.jumbo-color{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2, 0, 36, 0.849) 1%, rgba(9, 9, 121, 0.815) 16%, rgba(0, 213, 255, 0.897) 98%);
padding: 4rem 3rem;
}

.card-hotel{
width: 14rem;
border-color: blueviolet;
min-height: 300px;
}

.text-justify{
    text-align: justify;
}